.content {
    width: 85vw;
    height: 100vh;
    position: static;
	left: 15vw;
	background-color: #ffffff;
	margin-left: 14vw;
}

.content .banner {
    width: 85vw;
    height: 300px;
    background: url('../images/web_bn_s2.jpg') no-repeat;
    background-size: 85vw 300px;
}

.div {
    margin-top: 80px;
    margin-left: 20px;	
	/*border: 1px solid rgb(0,0,255);*/
}

.content .banner .picture {
    background: url('../images/weiwei.jpg') no-repeat;
    background-size: 150px auto;
    height: 150px;
    width: 150px;
    /*display: inline-block;*/
    border-radius: 150px;
   /* margin-top: -18px;*/
}

.div span {
    font-size: 0.5em;
	color:black;
	
}

.content .banner div {
    color: #fff;
    font-size: 1.5em;
    display: inline-block;
    vertical-align: top;
}


h1 { 
	text-align: center;
	margin-top: 50px;
	font-size: 2.5em;
}
p { 
	text-align: center; 
	margin-top: 10px;
	font-size: 1.5em;
}
pre {
	font-size: 1.5em;
	float: left;
}
pre span{
	font-size: 2em;
}
.p1 {
    background: url('../images/123.png') no-repeat;
    background-size: 60vw auto;
    height: 80vh;
    width: 60vw;
	margin-left: 25vw;
}
.p2 {
    background: url('../images/456.png') no-repeat;
    background-size: 60vw auto;
    height: 70vh;
    width: 60vw;
	float: left;
}

.content li {
   margin-left: 50px;	
   font-size: 1.5em;
   margin-bottom: 20px;
}
.content li li{	
   font-size: 1em;
   margin-bottom: 5px;
   margin-top: 5px;
}
