.menu {
    height: 100vh;
    width: 15vw;
    background-color: #7C7C7C;
	position: fixed;
}

.menu .title { 
    padding-top: 50px ;
	padding-left: 18% ;
	padding-bottom: 30% ;
    background-color: #4A4A4A;
	/*border: 1px solid rgb(0,0,255);*/
}

.menu .title span {
    font-size: 2em;
    color: #ffffff;
    /*margin-left: -20px;*/
}

.menu ul li {
    font-size: 1.3em;
    font-width: 300;
    padding: 10px 30px;
    color: #ffffff;
    transition: 0.25s;
	list-style: none;
	margin-bottom: 20px;
	margin-top: 20px;
}

.menu ul li:hover {
    background-color: #e29e9e;
    color: #4a4a4a;
}


/* .menu ul .li_active {
    background-color: #e29e9e;
    color: #4a4a4a;
} */

.menu .title .min_picture {
    background: url('../images/S__22061135.jpg') no-repeat;
    background-size: cover;
    height: 200px;
    width: 180px;
 
	/*border: 1px solid rgb(0,0,255);*/
   /* display: inline-block;*/
    /* margin: 15px 0px 15px 15px;*/ 
}
